i{
    text-shadow: rgba(71, 70, 71, 0.384) 0px 1px 5px;
}

i:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.5) rotate(6deg);
    text-shadow: rgba(0, 0, 0, 0.308) 0px 5px 15px;
}