.icon-Next {
        text-shadow: rgba(0, 0, 0, 0.692) 0px 5px 15px;
}

.icon-Next:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.5) rotate(6deg);
    text-shadow: rgba(0, 0, 0, 0.349) 0px 1px 1px;
}